$linear-gradient: linear-gradient(#FF79DA,#9356DC);

.container {
    position:fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: out 0.2s 3s forwards;

    &__loader {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 6px solid transparent;
        border-top-color: #9356DC;
        animation: spin 2s linear infinite;

        &::before {
            content:"";
            position: absolute;
            border-radius: 50%;
            border: 6px solid transparent;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-top-color: #FF79DA;
            animation: spin 3s linear infinite;
        }

        &::after {
            content:"";
            position: absolute;
            border-radius: 50%;
            border: 6px solid transparent;
            top: 25px;
            left: 25px;
            right: 25px;
            bottom: 25px;
            border-top-color: #99E2D0;
            animation: spin 4s linear infinite; 
        }
    }
}

@keyframes spin {
    0% {transform: rotate(0deg);
    }
    100% {transform: rotate(360deg);
    }
}

@keyframes out {
    0% {opacity: 100%;
    }
    100% { opacity: 0%;
        z-index: -10;
    }
    
}

.master-card__heart {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 41px;
    
    &--vide {
        position: absolute;
    }

    &--plein {
        position: absolute;
        opacity: 0;
        background: $linear-gradient;
        background-clip: text;
        color: transparent;
        transition: opacity 1s;
    }
    &:hover &--vide {
        opacity: 0;
    }
    &:hover &--plein {
        opacity: 1;
    }
}


$num-delay: 10;
$anim-dur: 2500ms;
$anim-delay: calc($anim-dur / $num-delay);

.card__content {
    animation: slide $anim-dur;
    @for $i from 1 through $num-delay {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    animation-fill-mode: backwards;
}

@keyframes slide {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
