$linear-gradient: linear-gradient(#FF79DA,#9356DC);

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    box-sizing: border-box;
    min-width: 375px;
    background-color: #ffffff;
}

.header {
    margin: 0;
    height: 60px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    &__logo {
        width: 162px;
        height: 30px;
    }
}

.local {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
    &__icone {
        padding-top: 17px;
    }

    &__city {
        font-size: 16px;
        text-align: center;
        padding: 15.5px;
    }
}

.fa-location-dot {
    color: #353535;
}

.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 39.5px;
    padding-bottom: 30px;
    
    &__title {
        font-size: 24px;
        font-weight: 700;
        width: 275px;
        height: 68px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;

        @media (min-width: 1024px) {
            width: auto;
            font-size: 40px;
        }
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 27px;
        width: 315px;
        text-align: center;
        margin-top: 0;

        @media (min-width: 1024px) {
            width: auto;
        }
    }

    &__btn {
        text-decoration: none;
    }
}

.btn {
    position: relative;
    z-index: 4;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: $linear-gradient;
    padding: 13px 18px 13px 18px;
    border-style: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(255,255,255,0.15),rgba(255,255,255,0.15)), $linear-gradient;
        border-radius: 25px;
        box-shadow: 0px 4px 15px rgba(0,0,0, 0.25);
        opacity: 0;
        z-index: -1;
        transition: opacity 500ms;
    }
}

.function {
    height: 440px;
    background-color: white;

    @media (min-width: 1024px) {
        height: auto;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 48px;

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }

        @media (min-width: 1024px) {
            display: block;
            margin-left: 180px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        align-items: center;

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 30px;
            align-items: center;
            justify-content: center;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
    }
    
    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        background-color: #9356DC;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: relative;
        top: 25px;
        left: 12px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 322px;
        height: 72px;
        background-color: #f7f7f7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 25px;
        @media (min-width: 1024px){
            width: 290px;
            padding-left: 5px;
        }
    }
}

.fa-mobile-screen-button {
    position: relative;
    right: 33px;
    color: #7e7e7e;
    transition: color 500ms;
    &:hover {
        color: #9356DC;
        transition: color 500ms;
    }
    @media (min-width: 1024px){
        right: 20px;
    }
} 

.fa-list-ul {
    position: relative;
    right: 37px;
    color: #7e7e7e;
    transition: color 500ms;
    &:hover {
        color: #9356DC;
        transition: color 500ms;
    }
    @media (min-width: 1024px){
        right: 20px;
    }
}

.fa-store {
    position: relative;
    right: 33px;
    color: #7e7e7e;
    transition: color 500ms;
    &:hover {
        color: #9356DC;
        transition: color 500ms;
    }
    @media (min-width: 1024px){
        right: 25px;
    }
}

.restaurant {
    background-color: #f6f6f6;
    padding-bottom: 66px;
    &__title {
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 48px;

        @media (min-width: 1024px) {
            margin-left: 180px;
        }
    }
    
}

.master-card {
    position: relative;
    z-index: 1;

    @media (min-width: 768px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @media (min-width: 1024px) {
        margin-left: 180px;
        margin-right: 180px;
    }

    &__restaurant {
        position: relative;
        height: 251px;
        background-color: #fff;
        border-radius: 15px;
        margin: 0 18px 18px 18px;

        @media (min-width: 768px) {
            width: 40%;
        }

        @media (min-width: 10240px) {
            width: 45%;
            margin-bottom: 50px;
        }

    }

    &__img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 25px 12px 13px;
        text-decoration: none;
        color: black;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        padding-bottom: 5px;

    }

    &__subtitle {
        font-size: 17px;
        font-weight: 300;
        margin: 0;
    }   
}

.badge {
    position: absolute;
    right: 15px; 
    top: 15px;

    &__text {
    display: block;
    background-color: #99E2D0; 
    color: #008766;
    padding: 7px;
    border-radius: 2px;
    }
}

.bloc-footer {
    background-color: #353535;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
    }

    &__title {
        font-family: 'Shrikhand';
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        padding-top: 22px;
        padding-left: 25px;
        margin: 0;
        padding-bottom: 16px;

        @media (min-width: 1024px) {
            padding-right: 15px;
            padding-top: 60px;
        }
    }

    &__liste {
        list-style: none;
        color: #fff;
        padding-left: 25px;
        padding-bottom: 22px;
        margin-top: 0;

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            padding-right: 25px;
        }
    }

    &__lien {
        color: #fff;
        text-decoration: none;

        @media (min-width: 1024px) {
            padding-left: 10px;
        }
    }

    &__subliste {
        padding-bottom: 7px;

        @media (min-width: 1024px) {
            padding-right: 25px;
            padding-top:64px;
            padding-bottom: 15px;
            
        }
    }
}
